$primary: #212121;
$secondary: white;
$bee: #ffd600;
$invers: $bee;
$light: $bee; //sidebar, etc.
$dark: $primary;
$info: $primary;
$success: #008A00;
$warning: $bee;
$danger: brown;

$primary_text_color: white;
$secondary_text_color: white;

$modal-content-bg: $primary;
$modal-content-color: white;
$modal-header-border-color: transparent;

$body-bg: $primary;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$bg-pre: $secondary;

$border-loader_wrapper-outer_spin: $primary;
$border-loader_wrapper-middle_spin: $bee;
$border-loader_wrapper-inner_spin: $primary;

$bg-answer-result-correct: #00a200;
$fg-answer-result-correct: $primary_text_color;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $primary_text_color;
$bg-answer-result-wrong: #f44336;
$fg-answer-result-wrong: $primary_text_color;

$progress-bg: transparent;

$link-color: #efefaa;
$link-decoration: none;
$link-hover-color: #eaeac9;
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$statistics-icon-opacity: 0;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
    $theme-colors,
    (
      invers:$invers,
    )
);

$colors: map-merge(
    $colors,
      (
      )
);

$bg-footer: $light;
$footer-color: $dark;

$colorChangingBg: (
  0: (fg: white, bg: black),
  50: (fg: white, bg: black),
  100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
  0: (fg: white, bg: #a50101),
  100: (fg: white, bg: $danger)
);

$colorChangingArs: (
  0: (fg: white, bg: transparent),
  25: (fg: $bee, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingNova: (
  0: (fg: white, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: $bee, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingDot: (
  0: (fg: white, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: $bee, bg: transparent),
  100: (fg: white, bg: transparent)
);

$colorChangingClick: (
  0: (fg: $bee, bg: transparent),
  25: (fg: white, bg: transparent),
  50: (fg: white, bg: transparent),
  75: (fg: white, bg: transparent),
  100: (fg: $bee, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": white, ".arsnova-logo-nova": $bee, ".arsnova-logo-click": white);

$popover-body-color: initial;

$code-color: $primary_text_color;

@import "postbuild";

.btn-secondary {
  border-color: black;
}

.btn-info {
  color: $primary;
  background-color: $bee;
  border-color: black;
}

.card { //statistics
  background-color: $bee;
  color: $primary;
  border: 2px solid black;
  border-radius: $corner-radius;
}

a
{
  color: $bee;
}

.bg-secondary {
  background-color: $primary !important;
}

.progress-bar
{
  background-color: $bee;
}

.cc-window
{
  background-color: #94581B !important;
  border: solid 1px black;
}